includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - storage/*
        - bootstrap/cache/*
        - vendor/*
    ignoreErrors:
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::[a-zA-Z]+\(\)#'
        - '#Undefined variable: \$this#'
    bootstrapFiles:
        - vendor/autoload.php 